<script src="/js/client/auth.js"></script>
<footer>
    <p>Built by <a href="https://j3.gg" target="_blank">J3</a> and powered by <a href="https://github.com/pajlads/DinkPlugin" target="_blank">Dink</a> <img style="margin-bottom: -3px;" width="13" src="https://raw.githubusercontent.com/pajlads/DinkPlugin/master/icon.png" alt=""/> - This page contains assets that are property of Jagex Limited and RuneScape</p>
</footer>
  