<section class="menubar">
    <div class="menucontent">

        <a href="https://hdos.dev">HDOS Website</a>
    
        <a class="hdos_logo" href="/">
            <img src="/img/hdos_logo.png" alt="">
          </a>

        <div id="userPanel"></div>
    </div>
</section>