:root{
    --alog-title-color: #e8e8e8;
    --alog-img-border-grey: #707070;
    --alog-font-score: #a9a9a9;
    --alog-font-brown: #4c3209;
    --alog-color-log-font-brown: #43392d;
    --alog-color-font-accordion: #3d281d;
    --alog-color-accordion-border: #292926;
    --alog-active-gold: #C0B679;
}