body {
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    text-align: center;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
}

#content {  
    position: relative;
    font-size: 12px;
    justify-items: center;
    justify-content: center;
    padding: 0;  
    margin: 0 auto;
    max-width: 754px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    z-index: 1;
    flex: 1;
}

.section {
    text-align: left;
    font-family: Palatino Linotype, Book Antiqua, Palatino, Times New Roman, Times, serif;
    font-variant: small-caps;
}

.header{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 200px;
    width: 100vw;
}

footer{
    color: #7c7c7c;
    position: relative;
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    height: unset;
    box-shadow: 0 0 25px 15px #000;
    flex-shrink: 0;
}

footer a{
    color: #7c7c7c;
}

// .hdos_logo {
//     position: absolute;
//     top: 0;
// }

.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}