.menubar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--alog-discord-grey);
    color: white;
    z-index: 3;
    a, a:visited, a:hover, a:active, a:focus {
        color: white;
    }
  }
  
  .menucontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  a[href='https://hdos.dev'] {
    flex: 1;
    text-align: left;
    padding-left: 20px;
  }
  
  .hdos_logo {
    flex: 8;
    text-align: center;
    img{
        max-width: 65px;
        max-height: 65px;
    }
  }
  
  #userPanel {
    flex: 1;
    text-align: right;
    padding-right: 20px;  
    display: flex;
    justify-items: center;
    justify-content: center;
    a {
        margin: auto 0;
        text-decoration: none;
        &:hover {
        text-decoration: underline;
        }
    }
    .avatar {
        margin: auto 0;
        margin-right: 15px;
    }
  }
  
#discord-button {

    .icon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
        
        svg {
        fill: white;
        }
    }

    a {
        color: white;
        font-weight: bold;
        border-radius: 8px;
        display: inline-flex;
        align-items: center;
        padding: 5px 7px;
        background-color: #7289da;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;

        
        &:hover {
        background-color: #6a7fc9;
        }
    }
}

  